$hero-font: 'Segoe UI', sans-serif;

.hero {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2rem;
  min-height: 100vh;
}

.title {
  font-size: clamp(6rem, 23vw, 10rem);
  text-align: center;
  font-family: $hero-font;
  font-weight: 800;
  line-height: 1 !important;
  user-select: none;
  word-break: break-word;
  white-space: nowrap;
  letter-spacing: -3px;
}

.catch__phrase {
  text-align: center;
  font-size: 1.25rem;
  font-family: $hero-font;
  font-weight: 400;
  letter-spacing: -1px;
}
