$hero-font: 'Segoe UI', sans-serif;

.title {
  font-size: clamp(6rem, 23vw, 9.5rem);
  text-align: center;
  font-family: $hero-font;
  font-weight: 800;
  line-height: 1 !important;
  user-select: none;
  word-break: break-word;
  white-space: nowrap;
  letter-spacing: -3px;
}

.catch__phrase {
  text-align: center;
  font-size: 1.25rem;
  font-family: $hero-font;
  font-weight: 400;
  letter-spacing: -1px;
  margin-bottom: 5rem;
}
