.small {
  font-family: 'Segoe UI', sans-serif;
  line-height: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
