%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  @extend %center;
  position: relative;
  width: 100vw;

  .center {
    @extend %center;
  }

  .right {
    @extend %center;
    gap: 1.5rem;
  }
}
