.card {
  min-height: 22em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  gap: 1rem;
  padding: 1rem;
  flex: 1;
  flex-direction: column;
}

.purple {
  background: #7928ca;
  color: #fff;
}

.pink {
  background: #db47bd;
  color: #fff;
}
